*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#E6D5B8;
    color:#333;
}

header{
    background:#F8F4EC;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

header h2{
    color:#2F80ED;
}

.profile{
    font-size:18px;
}

.profile i{
    color:#2F80ED;
    margin-right:8px;
}

.container{
    width:90%;
    margin:30px auto;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.balance{
    background:#2F80ED;
    color:white;
    padding:30px;
    border-radius:15px;
    margin-bottom:20px;
}

.balance h1{
    font-size:45px;
    margin:15px 0;
}

.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:20px;
}

.card{
    background:#F8F4EC;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.blue{border-left:6px solid #2F80ED;}
.green{border-left:6px solid #27AE60;}
.red{border-left:6px solid #E74C3C;}
.orange{border-left:6px solid #F39C12;}

.transaction,
.details,
.history{
    background:#F8F4EC;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

.transaction input{
    width:100%;
    padding:10px;
    margin:15px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    width:100%;
    padding:12px;
    margin:6px 0;
    border:none;
    color:white;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
}

.deposit{
    background:#27AE60;
}

.withdraw{
    background:#E74C3C;
}

.check{
    background:#2F80ED;
}

.reset{
    background:#F39C12;
}

button:hover{
    opacity:0.9;
}

.details p{
    margin:10px 0;
}

.history ul{
    list-style:none;
}

.history li{
    background:#EEE7DB;
    padding:10px;
    border-radius:6px;
    margin-top:10px;
}

@media(max-width:768px){

.container{
    grid-template-columns:1fr;
}

.cards{
    grid-template-columns:1fr;
}

header{
    flex-direction:column;
    gap:10px;
}

}